/* Importa la fuente 'Poppins' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');

  /* Contenido principal */
  .home-content {
    flex: 1;
    background-color: #fefefe;
    padding-top: 0px; /* Altura de tu rectangulo-superior */
    height: calc(100vh - 0px); /* Resta la altura de la barra */
    padding-left: 100px;
    padding-right: 140px;
  }
  
  /* Ajusta el título */
  .home-content h1 {
    color: #FF987B;
    font-size: 40px;
    margin-bottom: 25px;
    text-align: left;
    padding-left: 0px;
  }
  
  /* Grid de botones */
  .grid-botones {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-gap: 20px;
    justify-content: center;
  }
  
  /* Botones principales */
  .grid-botones button {
    height: 120px;
    border: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-align: left;
    border-radius: 10px;
    transition: transform 0.2s ease;
  }

  
  /* Colores personalizados */
  .grid-botones button:nth-child(1) { background-color: #6EB8DB; } /* Pacientes */
  .grid-botones button:nth-child(2) { background-color: #6EDBDB; } /* Citas */
  .grid-botones button:nth-child(3) { background-color: #6CDBB6; } /* Calendario */
  .grid-botones button:nth-child(4) { background-color: #9BD7D7; } /* Empleados */
  .grid-botones button:nth-child(5) { background-color: #769BDB; } /* Contactos */
  .grid-botones button:nth-child(6) { background-color: #6EDB92; } /* Inventario */
  .grid-botones button:nth-child(7) {
    background-color: #7CDDE1; /* Clínica */
    grid-column: span 2; /* Ocupa dos columnas */
    justify-self: center; /* Centra el botón horizontalmente */
    width: 500px;
  }
  .grid-botones button:hover {
    transform: scale(1.05);
  }