/* Importa la fuente 'Poppins' desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;800&display=swap');


  
.programarcita-titulo {
    color: #FF987B;
    font-size: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: left;
    padding-left: 25px;
}
  
.programarcita-formulario {
    margin: 2.5rem auto;
    padding: 2rem;
    max-width: 800px;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  
.programarcita-formulario div {
    margin-bottom: 0;
}
  
.programarcita-formulario label {
    display: block;
    font-size: 1rem;
    color: #666;
    margin-bottom: 0.5rem;
}
  
.programarcita-formulario input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #E0F7F8;
    font-size: 1rem;
    box-sizing: border-box;
    color: #757575;
}
  
.programarcita-btn-guardar, .programarcita-btn-regresar {
    background-color: #FF7F50;
    color: white;
    border: none;
    padding: 0.7rem 2.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 1rem;
    display: inline-block;
    margin: 0;
}
  
.programarcita-btn-guardar:hover, .programarcita-btn-regresar:hover {
    background-color: #FF987B;
}

.programarcita-form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.programarcita-mayoria-edad {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}
  
.programarcita-mayoria-edad span {
    font-size: 1rem;
    color: #666;
    font-weight: normal;
}
  
.programarcita-mayoria-edad label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
  
.programarcita-mayoria-edad input[type="radio"] {
    accent-color: #FF7F50;
}

.programarcita-botones {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}
  
.programarcita-botones button {
    background-color: #FF7F50;
    color: white;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}
  
.programarcita-botones button:hover {
    background-color: #FF987B;
}

.programarcita-subtitulo h2 {
    font-size: 1.3rem;
    color: #757575;
    font-weight: normal;
    margin-bottom: 2rem;
    text-align: left;
    padding-left: 25px;
    position: relative;
}

.programarcita-subtitulo h2::before,
.programarcita-subtitulo h2::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #6bbbc1;
    width: 100%;
    position: absolute;
    left: 0px;
}

.programarcita-subtitulo h2::before {
    top: -10px;
}

.programarcita-subtitulo h2::after {
    bottom: -10px;
}